html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-black: #000;
  --color-btn-focus: #d1a9f0;
  --color-nav-active: #7943a4;
  --color-nav-hover: #c283f3;
  --color-nav-background: #7943a4;
  --color-input-bg: #ececec;
  --color-red: #d11616;
  --color-grey: #999;
  --color-border: #c283f3;
  --color-purple: #9d5cd0;
  --color-light-grey: #cacaca;
  --color-dark-grey: #333;
  --color-white: #fff;
  --gap: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  max-width: 100%;
}

body {
  margin: 0 auto;
  min-width: 320px;
  font-family: 'Open Sans', 'sans-serif';
  background: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.list-reset {
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.flex {
  display: flex;
}


/* glob */

.container {
  margin: 0 auto;
  max-width: 1630px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-offset {
  padding-top: 80px;
  padding-bottom: 71px;
}

.container__title {
  margin-bottom: 16px;
  color: var(--color-dark-grey);
  font-size: 48px;
  font-family: 'Open Sans', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input:invalid:not(:placeholder-shown) {
  border-color: var(--color-red);
  color: var(--color-grey);
}

.btn {
  transition: outline 0.2s ease-in;
}

.btn:focus {
  outline: 3px solid var(--color-btn-focus);
}

.btn:hover {
  outline: 2px solid var(--color-nav-hover);
  outline-offset: 5px;
}

.btn:active {
  outline: 3px solid var(--color-btn-focus);
  outline-offset: 0;
}

/* header */


.header__container {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  background-color: var(--color-black);
}

.header__nav {
  color: #fff;

}

.nav-link {
  position: relative;
  transition: background 0.3s, color 0.3s;
}

.nav-link::before {
  position: absolute;
  content: "";
  border-radius: 5px;
  visibility: hidden;
  z-index: -1;
  background-color: var(--color-nav-background);
  opacity: 0;
  transition-property: transform, opacity, visibility;
  transition-duration: 0.3s;
  transform: translateY(-10px);
  inset: -10px;
}

.nav-link:focus::before {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav-link:hover {
  background: none;
  color: var(--color-nav-hover);
  outline: none;
}

.nav-link:active {
  color: var(--color-nav-active);
  outline: none;
}

.header__list {
  display: flex;
  gap: 96px;
  font-size: 18px;
  font-family: 'Open Sans', 'sans-serif';
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header__list-item {
  z-index: 0;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-center {
  padding-right: 117px;
}

.search-logo {
  position: relative;
  fill: white;
  transition: fill 0.3s, background-color 0.3s;
}

.header-right {
  position: relative;
  z-index: 0;
}

.search-btn::before {
  position: absolute;
  content: "";
  border-radius: 5px;
  background-color: var(--color-nav-background);
  visibility: hidden;
  opacity: 0;
  inset: -10px;
  z-index: -1;
  transition-property: transform, opacity, visibility;
  transition-duration: 0.3s;
  transform: translateY(-10px);
}

.search-btn:focus::before {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.search-btn:hover svg {
  padding: 0;
  fill: var(--color-border);
  outline: none;
}

.search-btn:active svg {
  padding: 0;
  fill: var(--color-nav-active);
  background: none;
  outline: none;
}

/* hero */

.hero {
  background-image: url('../img/birmingham-museums-trust-MK_98NuC4-4-unsplash\ 2hero_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__container {
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 147px;
}

.hero-box {
  max-width: 579px;
}

.hero__title {
  padding-top: 66px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  color: var(--color-white);
}

.hero__descr {
  margin-top: 20px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: var(--color-white);
}

.hero__btn {
  margin-top: 92px;
  padding: 21px 35px;
  border-radius: 100px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: var(--color-purple);
  color: var(--color-white);
}

/* about us */

.about__title {
  color: var(--color-dark-grey);
}

.about__descr {
  max-width: 1080px;
  margin-top: 16px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

/* galery */

.galery {
  background-image: url('../img/galery-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.galery__title {
  margin-bottom: 19px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-white);
}

.checkboxes {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 12px;
}

.checkbox__inner {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-white);
}

.galery__container {
  padding-bottom: 77px;
}

.galery__descr {
  width: 100%;
  justify-content: space-between;
}

.images__list {
  display: flex;
  gap: var(--gap);
}

.slide-photo {
  width: 100%;
}

.checkbox span {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s;
}

.checkbox__inner::before {
  position: relative;
  left: -12px;
  top: 0;
  display: block;
  width: 12px;
  content: "";
  height: 12px;
  border: 1px solid var(--color-white);
}

.checkbox__inner::after {
  position: absolute;
  left: -12px;
  top: 50%;
  display: none;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-border);
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='4' height='5' viewBox='0 0 4 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2.43433' r='2' fill='%23C283F3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}



.checkbox__inp {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  appearance: none;
}

.checkbox__inp:focus+span,
.checkbox__inp:focus+.checkbox__inner::before {
  color: var(--color-border);
  border-color: var(--color-border);
}

.checkbox__inp:hover+.checkbox__inner::before {
  border-color: var(--color-border);
}

.checkbox__inp:active+.checkbox__inner::before {
  color: var(--color-border);
}

.checkbox__inp:checked+.checkbox__inner::after {
  display: block;
}

.checkbox__inp:checked+.checkbox__inner {
  color: var(--color-border);
}

.checkbox__inp:checked:active+.checkbox__inner::before {
  color: var(--color-border);
}

.checkbox__inp:active {
  color: var(--color-border);
}

/* catalog */

.catalog__container {
  padding-bottom: 0;
}

.list-item {
  display: flex;
  gap: 50px;
}

.catalog__descr {
  max-width: 1080px;
  margin-bottom: 39px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-dark-grey);
}

.catalog__list {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 46px;
}

.item-left {
  width: 100%;
  max-width: 750px;
}

.catalog-img {
  height: 100%;
  object-fit: cover;
}

.item-right {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.item-right__title {
  margin-bottom: 5px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--color-dark-grey);
}

.lifetime {
  display: inline-block;
  margin-bottom: 15px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-grey);
}

.item-right__descr {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-dark-grey);
}

/* events */
.events__container {
  position: relative;
  padding-bottom: 0;
}

.events__list {
  gap: var(--gap);
  flex-wrap: wrap;
}

.events__list-item {
  position: relative;
  max-width: 500px;
  min-height: 700px;
  flex-direction: column;
  border: 1px solid #cacaca;
}

.event-bottom__btn {
  position: relative;
  margin-top: auto;
  border-bottom: 1px solid var(--color-purple);
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-purple);
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
}

.event-bottom__btn::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid var(--color-white);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  inset: -10px;
  z-index: -1;
  background-color: var(--color-nav-background);
  transition-property: transform, opacity, visibility;
  transition-duration: 0.3s;
  transform: translateY(-10px);
}

.event-bottom__btn:focus::before {
  opacity: 1;
  visibility: visible;
  color: var(--color-white);
  transform: translateY(0);
}

.event-bottom__btn:focus {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
}

.event-bottom__btn:hover {
  color: var(--color-nav-active);
  border-color: var(--color-nav-active);
  background: none;
}

.event-bottom__btn:active {
  color: var(--color-dark-grey);
  border-color: var(--color-dark-grey);
  background-color: unset;
}

.event-figure {
  margin: 0;
}

.event-bottom {
  display: flex;
  padding: 10px 50px;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 100%;
}

.figure__descr {
  margin-bottom: 13px;
}

.events__title {
  margin-bottom: 13px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-dark-grey);
}

.table {
  flex-direction: column;
  margin-bottom: 10px;
}

.event-length {
  display: inline-block;
  max-width: 151px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--color-grey);
}

.event-bottom__title {
  margin-bottom: 10px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--color-dark-grey);
}

.event-bottom__descr {
  display: inline-block;
  max-width: 400px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-dark-grey);
}

.partners-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
}

/* projects */

.projects__container {
  padding-bottom: 80px;
}

.projects__descr {
  max-width: 1080px;
  margin-bottom: 30px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-dark-grey);
}

.project-partners__title {
  margin-bottom: 16px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: var(--color-dark-grey);
}

.svg-mobile {
  display: none;
}

/* contacts */
.contacts {
  border-top: 1px solid var(--color-light-grey);
}

.contacts__container {
  padding: 38px 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contacts__name {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: var(--color-dark-grey);
}

.contacts__address {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-dark-grey);
}

.contacts__form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contacts__form-inp {
  padding: 9px 63px 9px 23px;
  border: 1px solid #333;
  border-radius: 100px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-grey);
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s, outline 0.3s;
}

.contacts__form-inp:focus {
  border: 1px solid var(--color-dark-grey);
  color: var(--color-dark-grey);
  background-color: var(--color-white);
}

.contacts__form-inp:hover , .contacts__form-inp:active {
  border: 1px solid var(--color-dark-grey);
  outline: none;
  background-color: var(--color-input-bg);
}


.contacts-right {
  flex-direction: column;
  gap: 6px;
}

.contacts-icons {
  flex-wrap: wrap;
  gap: 20px;
}

.contacts__text {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: var(--color-dark-grey);
}

.contacts__form-btn {
  padding: 10px 35px;
  border: 2px solid var(--color-purple);
  border-radius: 100px;
  font-family: 'Open Sans', 'sans-serif';
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-purple);
  background: var(--color-white);
  transition: outline 0.3s, color 0.3s, background-color 0.3s;
}

.btn-mobile {
  display: none;
  padding: 6px 19px;
  font-family: 'Open Sans', 'sans-serif';
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contacts__form-btn:focus {
  outline: 1px solid var(--color-border);
  outline-offset: 5px;
}

.contacts__form-btn:hover {
  outline: none;
  background-color: var(--color-purple);
  color: var(--color-white);
}

.contacts__form-btn:active {
  outline: none;
  outline: 3px solid var(--color-btn-focus);
  outline-offset: unset;
  background-color: var(--color-nav-active);
  color: var(--color-white);
}

.contacts-link {
  max-height: 40px;
  transition: opacity 0.3s;
}

.contacts-link:focus {
  opacity: 0.5;
}

.contacts-link:hover {
  opacity: 0.5;
}

.contacts-link:active {
  opacity: 1;
  outline: 1px solid var(--color-purple);
  border-radius: 50%;
}

/* footer*/

.footer {
  padding-top: 45px;
  padding-bottom: 45px;
  background: var(--color-black);
}

.footer__container {
  justify-content: space-between;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-logo__svg {
  fill: #cacaca;
  transition: fill 0.3s;
}

.footer-logo__svg:focus {
  fill: var(--color-white);
}

.footer-logo__svg:hover {
  fill: var(--color-white);
}

.footer-logo__svg:active {
  fill: var(--color-purple);
}
